**Situation:** <br>
Tu a été embauché dans le cadre de la campagne electorale de Joe Bidden et mon rôle est d'aider le candidat à paufiner sa stratégie sur ces discours lors de ses différentes prises de parole.
Marie, une de mes collègue est une spécialiste des aspects politiques de l'élection. 
Je dois alors travailler étroitement avec elle afin de l'aider à traiter efficacement les données qui lui ont été confiées. 
Ma première mission est d'analyser les différents discours de Donald Trump, actuel président et candidat à l'élection.
Marie dispose dans son ordinateurs un dossier 'Speeches' qui contients les discours officels de Donald Trump entre 2019 et 2020.

### Après avoir regardé les fichiers, je me rend compte qu'il faudrait peut être mettre en qualité les données pour les avoir sous forme d'un dataframe facilement manipulable.

In [1]:
ls

Speeches/                    cleaned-speeches
Traitement_de_donnees.ipynb

In [2]:
from os import listdir

In [3]:
noms_fichiers=listdir("Speeches")
noms_fichiers

['FayettevilleSep9_2019.txt',
 'TupeloNov1_2019.txt',
 'NewHampshireAug15_2019.txt',
 'HendersonSep13_2020.txt',
 'OhioSep21_2020.txt',
 'PhoenixFeb19_2020.txt',
 'BattleCreekDec19_2019.txt',
 'PittsburghSep22_2020.txt',
 'TexasSep23_2019.txt',
 'ColoradorSpringsFeb20_2020.txt',
 'LatrobeSep3_2020.txt',
 'DallasOct17_2019.txt',
 'DesMoinesJan30_2020.txt',
 'MinneapolisOct10_2019.txt',
 'YumaAug18_2020.txt',
 'ToledoJan9_2020.txt',
 'CharlotteMar2_2020.txt',
 'Winston-SalemSep8_2020.txt',
 'TulsaJun20_2020.txt',
 'NewMexicoSep16_2019.txt',
 'HersheyDec10_2019.txt',
 'NewHampshireFeb10_2020.txt',
 'LasVegasFeb21_2020.txt',
 'NewHampshireAug28_2020.txt',
 'MindenSep12_2020.txt',
 'FreelandSep10_2020.txt',
 'CharlestonFeb28_2020.txt',
 'MosineeSep17_2020.txt',
 'MilwaukeeJan14_2020.txt',
 'LexingtonNov4_2019.txt',
 'BemidjiSep18_2020.txt',
 'CincinnatiAug1_2019.txt',
 'FayettevilleSep19_2020.txt',
 'WildwoodJan28_2020.txt',
 'GreenvilleJul17_2019.txt']

In [4]:
import pandas as pd

In [5]:
df=pd.DataFrame(index=range(len(noms_fichiers)), columns=["Nom_du_Fichier", "Contenu"])
df.head()

  Nom_du_Fichier Contenu
0            NaN     NaN
1            NaN     NaN
2            NaN     NaN
3            NaN     NaN
4            NaN     NaN

In [6]:
for i, f_name in enumerate(noms_fichiers):
    with open("Speeches/"+f_name, "r", encoding="utf-8") as f:
        f_contenu= f.readlines()
    
    df.at[i, "Nom_du_Fichier"]=f_name
    df.at[i, "Contenu"]=f_contenu[0]
    
df.head()

,Nom_du_Fichier,Contenu
0,FayettevilleSep9_2019.txt,Thank you everybody. Thank you and Vice Presi...
1,TupeloNov1_2019.txt,"ell, thank you very much. And hello, Tupelo. T..."
2,NewHampshireAug15_2019.txt,Thank you very much everybody. Thank you. Wow...
3,HendersonSep13_2020.txt,"Thank you, thank you. Wow. Wow, and I'm thrill..."
4,OhioSep21_2020.txt,"Wow, that's a big crowd. This is a big crowd. ..."

In [7]:
mois=["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

In [8]:
def separerVille(v):
    for m in mois:
        if (m in v):
            ville= v[:v.find(m)]
    return ville

In [9]:
df["Ville"]=df.Nom_du_Fichier.apply(separerVille)
df.head()

,Nom_du_Fichier,Contenu,Ville
0,FayettevilleSep9_2019.txt,Thank you everybody. Thank you and Vice Presi...,Fayetteville
1,TupeloNov1_2019.txt,"ell, thank you very much. And hello, Tupelo. T...",Tupelo
2,NewHampshireAug15_2019.txt,Thank you very much everybody. Thank you. Wow...,NewHampshire
3,HendersonSep13_2020.txt,"Thank you, thank you. Wow. Wow, and I'm thrill...",Henderson
4,OhioSep21_2020.txt,"Wow, that's a big crowd. This is a big crowd. ...",Ohio

In [10]:
def separerDate(c):
    Date=c.Nom_du_Fichier[len(c.Ville): c.Nom_du_Fichier.find(".txt")]
    return Date

In [11]:
df["Date"]=df.apply(separerDate, axis=1)
df.head()

,Nom_du_Fichier,Contenu,Ville,Date
0,FayettevilleSep9_2019.txt,Thank you everybody. Thank you and Vice Presi...,Fayetteville,Sep9_2019
1,TupeloNov1_2019.txt,"ell, thank you very much. And hello, Tupelo. T...",Tupelo,Nov1_2019
2,NewHampshireAug15_2019.txt,Thank you very much everybody. Thank you. Wow...,NewHampshire,Aug15_2019
3,HendersonSep13_2020.txt,"Thank you, thank you. Wow. Wow, and I'm thrill...",Henderson,Sep13_2020
4,OhioSep21_2020.txt,"Wow, that's a big crowd. This is a big crowd. ...",Ohio,Sep21_2020

In [12]:
df.dtypes

Nom_du_Fichier    object
Contenu           object
Ville             object
Date              object
dtype: object

In [13]:
df["Date"]=pd.to_datetime(df["Date"], format="%b%d_%Y")

In [14]:
df.dtypes

Nom_du_Fichier            object
Contenu                   object
Ville                     object
Date              datetime64[ns]
dtype: object

In [15]:
df.drop("Nom_du_Fichier", axis=1, inplace=True)
df.head()

                                             Contenu         Ville       Date
0   Thank you everybody. Thank you and Vice Presi...  Fayetteville 2019-09-09
1  ell, thank you very much. And hello, Tupelo. T...        Tupelo 2019-11-01
2   Thank you very much everybody. Thank you. Wow...  NewHampshire 2019-08-15
3  Thank you, thank you. Wow. Wow, and I'm thrill...     Henderson 2020-09-13
4  Wow, that's a big crowd. This is a big crowd. ...          Ohio 2020-09-21

In [16]:
df["Annee"]=df.Date.dt.year
df["Mois"]=df.Date.dt.month
df["Jour_du_Mois"]=df.Date.dt.day
df["Jour_de_la_Semaine"]=df.Date.dt.weekday

In [17]:
df.head()

,Contenu,Ville,Date,Annee,Mois,Jour_du_Mois,Jour_de_la_Semaine
0,Thank you everybody. Thank you and Vice Presi...,Fayetteville,2019-09-09,2019,9,9,0
1,"ell, thank you very much. And hello, Tupelo. T...",Tupelo,2019-11-01,2019,11,1,4
2,Thank you very much everybody. Thank you. Wow...,NewHampshire,2019-08-15,2019,8,15,3
3,"Thank you, thank you. Wow. Wow, and I'm thrill...",Henderson,2020-09-13,2020,9,13,6
4,"Wow, that's a big crowd. This is a big crowd. ...",Ohio,2020-09-21,2020,9,21,0

In [18]:
import numpy as np

In [19]:
df["Weekend"]= np.where((df.Jour_de_la_Semaine==5) |(df.Jour_de_la_Semaine== 6), "OUI", "NON")
df.head()

,Contenu,Ville,Date,Annee,Mois,Jour_du_Mois,Jour_de_la_Semaine,Weekend
0,Thank you everybody. Thank you and Vice Presi...,Fayetteville,2019-09-09,2019,9,9,0,NON
1,"ell, thank you very much. And hello, Tupelo. T...",Tupelo,2019-11-01,2019,11,1,4,NON
2,Thank you very much everybody. Thank you. Wow...,NewHampshire,2019-08-15,2019,8,15,3,NON
3,"Thank you, thank you. Wow. Wow, and I'm thrill...",Henderson,2020-09-13,2020,9,13,6,OUI
4,"Wow, that's a big crowd. This is a big crowd. ...",Ohio,2020-09-21,2020,9,21,0,NON

In [20]:
df.to_csv("cleaned-speeches", index=False)